*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}
.left-side{
    background-color: rgb(0, 183, 255);
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: 150px 300px 150px;
    box-shadow: inset  -0px 0  10px rgba(0, 0, 0, 0.479);
    grid-row: 1 / 3;
    
}

.main-content{
    display: grid;
    grid-column: 2 / 3 ;
    grid-template-columns: 3fr 1fr;
   
    background-color: #e8f0fe;
}


.header{
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.151);
  flex-direction: column;
  gap: 50px;
  background-color: rgb(255, 255, 255);
  }
  .up{
    display: flex;
    justify-content: space-between;
	margin-top: 40px;
  }
  .up1 svg{
	width: 50px;
  }
  .up1{
    display: flex;
	gap: 30px;
	margin-left: 100px;
  }
  #searchbar{
    width: 600px;
    height: 40px;
	  padding: 10px 20px;
  	border: none;
  background-color: #e8f0fe;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  }
  .up2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr ;
    gap: 30px;
	margin-right: 100px;
  }
  .up2 svg {
	width: 50px;
  }
  .up2 img{
	width: 50px;
  }
  .up2 p{ 
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
  }
  .down{
	display: flex;
	justify-content: space-between;
  }
  .ld{
    margin-left: 90px;
  }
.ld-1{
	display: flex;
	align-items: center;
	gap: 20px;
  
}
.ld-1 img{
  width: 100px;
}
.ld-2 .greet{
    text-align:left;
  font-size: 20px;
  font-weight: 600;
}
.ld-2 p{
  text-align:left;
  font-size: 40px;
  font-weight: 600;
}
.rd{
  margin-top: 30px;
  display: flex;
  gap: 30px;
  margin-right: 100px;
}
button{
  height: 50px;
  width: 100px;
  background-color: rgb(119, 0, 255);
  border-radius: 30px;
  outline: none;
  border-color: navy;
}
button:hover{
  background-color: aqua;
}
.p-1{
  
  display: grid;
  grid-template-columns: 100px 400px;
  gap: 10px ;
  
}
.p-1 p{
  font-size: 35px;
  font-weight:500;
  margin-top: 20px;
  text-align: left;
  color: white;
}
.p-1 svg{
width: 80px;
}
.p-2 {
  display: grid;
  grid-template-columns: 80px 400px;
  margin-left: 10px;
  column-gap: 10px;
  row-gap: 0px;
}
.p-2 p{
  font-size: 20px;
  font-weight:500;
  margin-top: 6px;
  text-align: left;
  color: white;
}
.p-2 svg{
  margin-left: 12px;
  width: 35px;
}
.p-3 {
  display: grid;
  grid-template-columns: 80px 400px;
  margin-left: 10px;
  margin-top: 30px;
  column-gap: 10px;
  row-gap: 10px;
}
.p-3 p{
  font-size: 20px;
  font-weight:500;
  margin-top: 6px;
  text-align: left;
  color: white;
}
.p-3 svg{
  margin-left: 12px;
  width: 35px;
}
.main-content p{
  text-align: left;
  font-size: x-large;
  font-weight: 600;
  margin: 30px;
  margin-bottom: 0px;
}
.article {
  display: grid;
  grid-column: 1;
  background-color: #e8f0fe;
  display: grid;
  margin: 30px;
  box-sizing: border-box;
  grid-template-columns:repeat(auto-fit , minmax(300px , 1fr)) ;
  grid-template-rows: repeat(auto-fill , minmax(300px , 1fr));
  gap:30px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-left-color: rgb(255, 208, 0);
  border-left-width: 8px;
  border-left-style: outset;
  background-color: white;
  text-align: center;
  height: 200px;
}
.card svg{
  width: 25px;
  margin: 5px;
  margin-right: 30px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}
.rs{
  margin: 30px;
    display: grid;
    grid-column: 2/3;

}
.announcement{
  display: flex;
  flex-direction: column;
  
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;


}
.cut{
      height: 1px;
    background-color: #000000; 
    width: 80%; 
    margin-left: 20px;
    opacity: 0.5;
}
.note{
  margin: 10px;
}
.note .headings {
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
}
.note .text-body{
  margin: 0px;
  font-size: 15px;
  font-weight: 100;
}

.trending{
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px;
}

.trending img{
  width: 20px;
}
.trends{
display: flex;
flex:  1 1 auto;
}
.body p{
  margin: 0px;
  font-size: 10px;
}
.namess{
  margin: 0px;
  font-size: 10px;
}


